.imgContainer {
   position: absolute;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
}

.cameraIcon {
   position: absolute;
   bottom: 11px;
   right: 5px;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
}
.tutorCamera{
   bottom: -2px;
   right: -5px;
   width: 36px;
   height: 36px;
}

@media only screen and (min-width: 1024px) {

   .imgContainer {
      position: relative;
      left: 0;
      transform: translate(0, 0);
      display: flex;
   }


   .imgContainer img {
      width: 165px;
      height: 165px;
      border-radius: 50%;
   }

   .imgContainerTutor {
      width: 100px;
      height: 100px;
   }
   .imgContainerTutor img{
      width: 100%;
      height: 100%;
   }

}