@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f5f7;
    padding: 15px 17px;
}

.active {
    background-image: url("./Assets/icons/navbar-active-icon.png");
    background-size: 100%;
    background-position-y: 50%;
    background-position-x: 50%;
}
