#conceptSectionContainer {
    background-color: rgba(217, 217, 217, 0.2);
    padding: 42px 30px;
    margin-top: 46px;
    border-radius: 20px 0 0 20px;
    font-family: "Inter";
}

#conceptSectionContainer h1 {
    color: #4715d7;
    padding-left: 34px;
    padding-right: 56px;
    font-size: 21px;
    font-weight: 600;
}

#arrowDown {
    width: 12px;
    height: 12px;
}

#dropdownHeading {
    gap: 77px;
    background-color: rgba(217, 217, 217, 0.5);
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
}

#subject {
    margin-right: 21px;
}

#conceptChart {
    padding: 0 38px;
    padding-left: 0;
}

#chart {
    background-color: #fff;
    width: 83%;
    height: 100%;
    margin-top: 19px;
    border-radius: 20px;
    padding: 40px 20px;
    overflow-x: scroll;
}
