.react-calendar {
    background-color: transparent;
    border: 0;
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.react-calendar
    .react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: #4715d7;
}

.react-calendar__navigation{
 width: 100%;
}

/* month year label */
.react-calendar__navigation__label{
    pointer-events: none;
}

/* navigation in header */
.react-calendar .react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar .react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
    display: none !important;
}
.react-calendar .react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
    order: 3;
    border-radius: 50%;
}
.react-calendar
.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
        border-radius: 50%;
    order: 4;
}

/* weekday headers */
.react-calendar__month-view__weekdays{
    margin-bottom: 10px;
}

.react-calendar button abbr {
    font-weight: 500;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.react-calendar__tile--now {
    background-color: #7152eb;
    border-radius: 50%;
    color: white;
}

.react-calendar__tile--now:hover {
    background-color: #7152eb;
}

.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day:hover {
    background-color: #7152eb;
}

.react-calendar__tile {
    height: 39px;
}

.react-calendar__tile--active {
    border-radius: 50%;
}


.react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none;
    color: #25335A;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
}

